

body {
    background-color: #e6e6e6;    
}

.container {
    margin: 2rem 13rem;
    background-color: #ffffff;  
    width: 850px;
    border: 2px solid white;
    outline: 2px solid white;
    /* position: absolute;
    top: 1rem;
    right: 25rem; */ 
}

header img {
    width: 200px;
    height: 100px;
    padding-right: 2rem
}
header {
    display: flex;
    justify-content: space-around;
    padding: 1.5rem 3rem;
    border-bottom: 1.5px solid black;
}

.header-details{

}
.header-details span {
    font-size : 2.5rem;
    color: #492c89
    
}

.grey {
    margin-top: -.1rem;
    color: #616060;   
    font-size: 1rem;  
}

.mini-p {
    margin-top: -.7rem;    
}

.social-media {
    /* margin-top: 1rem; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "grid-left grid-right"; 
    border-bottom: 1.5px solid black;
    
}

.mini-flex img {
    width: 15px;
    height: 15px;
    padding-top: .9rem;
    padding-bottom: .9rem;
    padding-left: 1rem;
    padding-right: .5rem;    
    
}

.mini-flex a {
    text-decoration: none;
    color: black;
    padding-left: .4rem;
}

.grid-left {
    grid-area: grid-left;
}

.grid-right {
    grid-area: grid-right;
}

.mini-flex {
    display: flex;
    align-items: center;
}

.Education-Main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "grid-left grid-right"; 
}

.purple-h3 {
    color: #492c89
    
}
.Education-Main .grid-left {
    padding-left: 1rem;
    
}

.black-h3 {
    margin-top: .3rem;
}

.date, i {
    color: #616060;   
    
}

.Education-Main i {
    font-size: -.3rem;
}
.first-p {
    margin-top: -.9rem;
    margin-bottom: .3rem;    
}

.date {
    font-size: .8rem;
}

.second-p {
    margin-top: .2rem;  
    width:  350px;
}

.mini-flex-box {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: -1rem;
}

.circle-fill {
    width: 15px;
    height: 15px;
    background-color: #492c89;
    border: 1.5px solid#492c89;    
    border-radius: 50%;
    margin-right: 1rem;

}

.round-flex {
    margin-left: 2rem;
    display: flex;
    /* justify-content: space-between; */
}

.circle-null {
    width: 15px;
    height: 15px;
    border: 1.5px solid#492c89;
    border-radius: 50%;
    margin-right: 1rem;
}

.mini-flex-box p {
    width: 200px;
}


.languages {
    display: flex;
    align-items: center;
}

.minibox i {
    font-size: .8rem;
    padding-right: 3rem;
    color: #492c89;
}

.final-box {
    width: 300px;  
}

button {
    padding: .2rem .5rem;
    margin-bottom: 1rem; 
    margin-right: .2rem;     
    outline: 1px solid #616060;
    background: white;
}
